.search {
  margin-bottom: 25px;
}
.search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}
.form-item {
  width: 40vw;
  align-self: center;
}
.images-container img {
  cursor: pointer;
}
.images-container .material-icons {
  color: #fff;
}
.images-container span a {
  color: #fff;
  text-decoration: none;
}
footer {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
}
@media (max-device-width: 736px) {
  .form-item {
    width: 95vw;
  }
}
